html{
  height: 100vh;
  background-color: rgb(9, 9, 9) 17%;
  color: white;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;

}

.backBtn{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
}
.backBtn:hover{
cursor: pointer;
}