html{
  height: 100vh;
  background-color: rgb(9, 9, 9) 17%;
  color: white;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;

}

.backBtn{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  font-size: 15px;
}

.backBtn:hover{
cursor: pointer;
}

.header{
  margin-left: 40px;
}

.genreName{
  font-size: 28px;
  margin-top: 8px;
}