@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap');

.search {
	display: flex;
	justify-content: center;
	width: 100%;
}

.label {
	color: white;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
}

.searchBar {
	background-color: rgb(236, 236, 237);
	padding: 8px 10px 8px 22px;
	height: 30px;
	font-size: 15px;
	color: rgb(88, 88, 96);
	border-radius: 20px;
	margin-bottom: 20px;
	border: none;
}

.button {
	display: flex;
	justify-content: center;
	width: 100%;
}

.searchButton {
	/* width: 40%; */
  	border-radius: 20px;
	padding: 8px 50px 5px;
	font-size: 18px;
	font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  background: rgb(14,255,226);
  background: linear-gradient(87deg, rgba(14,255,226,1) 0%, rgba(53,80,204,1) 100%);
  border: none;
  color: white;
  margin-bottom: 70px;
}
.searchButton:hover {
cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.form{
		width: 60%;
		min-width: 225px;
		margin-top: 30px;
	}
}