@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap');

.App {
	text-align: center;
}

.featuredTitle {
	color: rgb(196, 195, 195);
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.moviesList {
	display: flex;
	align-items: center;
	width: 100%;
	overflow: scroll;
	height: 250px;
}

.appName {
	font-family: 'Bebas Neue', cursive;
	font-size: 65px;
	text-shadow: rgba(58, 199, 255, 0.826) 2px 4px 10px;
	text-align: center;
}

#appName {
	margin-bottom: 0px;
}

h2 {
	font-family: 'Bebas Neue', cursive;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: white;
}

.navDrawer {
	text-align: end;
}

.closeBtn {
	border-radius: 20px;
	padding: 8px 30px 5px;
	font-size: 18px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	background: rgb(14, 255, 226);
	background: linear-gradient(87deg, rgb(242, 131, 131) 0%, rgb(142, 3, 3) 100%);
	border: none;
	color: white;
	margin-bottom: 70px;
}

.closeBtn:hover {
	cursor: pointer;
}

.genres {
	padding-right: 5%;
}

@media only screen and (max-width: 600px) {
	.genres {
		text-align: center;
		padding: 0;
	}

	#appName {
		margin-bottom: 20px;
	}
}
